<% include('../layouts/header.ejs') %>

<h1>Forget Password</h1>

<% 
  if(typeof message !== 'undefined')
  {
      %>
       <h3><%= message %></h3>
      <%
  }

%>

<form action="" method="POST">
    <input type="email" name="email" placeholder="Enter email">
    <br><br>
    <input type="submit" value="Submit">
</form>

<% include('../layouts/footer.ejs') %>